<p id="notice" class="bg-success"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @event.name %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @event.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @event.enddate %>
</p>
<p>
  <strong>Duration:</strong>
  <%= ((@event.enddate - @event.startdate).to_int).to_s+" days"%>
</p>
<p>
  <strong>Max attendees:</strong>
  <%= @event.attendees %>
</p>
<p>
  <strong>Attendees:</strong>
  <%= (Attendance.where(event_id = @event_id)).length %>
</p>
<p>
  <strong>retkivuorokausia:</strong>
  <%= countdays %>
</p>

<p>
  <strong> Paikalla </strong>
  <% @event.users.each do |f| %>
  <%=link_to f.name, f %> <br>
      <%end%>
</p>

<p>
  <%= form_for(@attendance) do |f| %>
      <%= f.hidden_field :event_id %>
      Name: <%= f.select :user_id, options_from_collection_for_select(@users, :id, :name)%>
      Start Date: <%= f.date_select(:startdate, default: @event.startdate) %>
      End Date: <%= f.date_select(:enddate, default: @event.enddate) %>
      <%= f.submit %>
  <% end %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class:'btn btn-info' %> |
<%= link_to 'Back', events_path, class:'btn btn-default' %>
