<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @type.name %>
  <%= @type.in_woods %>
</p>

<%= link_to 'Edit', edit_type_path(@type), class:'btn btn-info' %> |
<%= link_to 'Back', types_path, class:'btn btn-default' %>
