<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.age_group %>
    <p>
      <strong>Age group:</strong>
      <%= @user.age_group.group %>
    </p>
<% end %>

<p>
  <strong>Events:</strong>
  <% @user.events.each do |f| %>
  <%= f.name %>
      <% end %>
</p>
<p>
   <strong>Number of events:</strong>
   <%=@user.events.length %>
</p>
 
<p>
   <strong>Days:</strong>
   <%= getdays%>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
