<%= form_for(@attendance) do |f| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% @attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="form-horizontal" role="form">
  <div class="field">
       <%= f.select :user_id, options_from_collection_for_select(@users, :id, :name)%>
  </div>

  <div class="field">
    <%= f.label :startdate %><br>
    <%= f.date_select :startdate %>
  </div>
  <div class="field">
    <%= f.label :enddate %><br>
    <%= f.date_select :enddate %>
  </div>

  <div class="field">
    <%= f.select :event_id, options_from_collection_for_select(@events, :id, :name)%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
</form>
<% end %>
