<p id="notice"><%= notice %></p>

<p>
  <strong>Startdate:</strong>
  <%= @attendance.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @attendance.enddate %>
</p>


<p>
  <strong>Event:</strong>
  <%= @attendance.event.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @attendance.user.name %>
</p>


<%= link_to 'Edit', edit_attendance_path(@attendance), class:'btn btn-info' %> |
<%= link_to 'Back', attendances_path, class:'btn btn-default' %>
